[submodule "submodules/TensorVision"]
	path = submodules/TensorVision
	url = git@github.com:TensorVision/TensorVision.git
[submodule "submodules/tensorflow-fcn"]
	path = submodules/tensorflow-fcn
	url = git@github.com:MarvinTeichmann/tensorflow-fcn.git
